div {
	width: 300px;
	height: 260px;
	border: solid;
	margin: auto;
	position: relative;

}
#textbox {
	width: 285px;
	height: 100px;
	margin: 1px;
}
input {
	text-align: justify;
}
.right {
	float: right;
	margin: 1px;
}
form {
	margin: 4px;
	font-family: Tahoma;
}
#submit {
	background-color: blue;
	color: white;
}